params {
    // Reads and references
    reads = "../ref_files/*_R[12].fastq.gz"
    genome = "../ref_files/GRCh38.primary_assembly.genome.fa"
    gtf = "../ref_files/gencode.v45.primary_assembly.annotation.gtf"

    // Directories
    outdir = "$projectDir/results/"

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P wax-es' //or whatever your association is
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }

                withLabel: process_medium {
                    cpus = 8
                }

                withLabel:process_high {
                    cpus = 16
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 12 // modify depending on input channel size
    }
    $local {
        cpus = 1
    }
}

resume = true